= form_for @offering do |f|
  - if @offering.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offering.errors.count, "error")} prohibited this offering from being saved:"
      %ul
        - @offering.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
