%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.partner
  .partner-logo-image
    %a{:href=> @partner.url}
      %img.lazyload{:src=> @partner.logo_image_url, :alt=> @partner.name}
  .partner-promo-info
    %h1.page-title
      = @partner.name
    %p
      = @partner.description.html_safe
    %h2.apps-created-header
      Works with
      %span{:class=> 'brand'}
        Moleskine
      Created by
      = @partner.name
    %ul.apps-by-this-partner
      -@partner_works_withs.each do |w|
        %li
          %a{:href=> works_with_path(w.slug)}
            = w.title