= form_for @use_case do |f|
  - if @use_case.errors.any?
    #error_explanation
      %h2= "#{pluralize(@use_case.errors.count, "error")} prohibited this use_case from being saved:"
      %ul
        - @use_case.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
