%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.works-withs
  %h1.page-title
    Works With Moleskine+
  -@works_withs.each do |works_with|
    .works-with-promo-listing
      .visual-side
        .img-container{:style => "background-image:url(#{works_with.promo_image_url})"}
        .combo
          %a{:href => apps_path + '/' + works_with.app.id.to_s, :class=> 'combo-link', :tab_index=> 0}
            = works_with.app.name
          %span
            works with
          %a{:href =>  works_with.offering.shop_link, :class=> 'combo-link', :tab_index=> 0}
            = works_with.offering.name
      .text-side
        %h2{:class => 'works-with-title'}
          = works_with.title
        %p
          = works_with.promo_text.html_safe
        %a{:href => works_withs_path + '/' + works_with.id.to_s, :class=> 'view-more-link', :tab_index=> 0}
          View More