%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.works-withs
  %h1.page-title
    Works with
    %span{:class=> 'brand'}
      Moleskine
  -@works_withs.each do |x|
    .feature{:style => "background-image:url(#{x.promo_image_url})", :onclick =>"location.href='#{works_with_path(x.slug)}'"}
      .rounded-corner.long
        %h3
          = x.title
        .description
          = x.promo_text.html_safe
  .m-plus-promo-container
    .m-plus-promo
      %a{:href=>'https://us.moleskine.com/en/moleskine-plus'}
        %span.brand
          Moleskine
        %span.analog
          analog
        to
        %span.digital
          digital
        to
        %span.analog
          analog