= form_for @testimonial do |f|
  - if @testimonial.errors.any?
    #error_explanation
      %h2= "#{pluralize(@testimonial.errors.count, "error")} prohibited this testimonial from being saved:"
      %ul
        - @testimonial.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
