-content_for :head do
  %meta{:name =>"turbolinks-cache-control", :content=>"no-cache"}
%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.testimonial
  .testimonial-article
    %h1{:class=> 'testimonial-title'}
      = @testimonial.title
    %h2{:class=> 'testimonial-byline'}
      = @testimonial.publish_date.strftime('%b %e %Y')
    - if @testimonial.video_embed
      .video-container
        .video
          = @testimonial.video_embed.html_safe
    %p
      - if @testimonial.testimonial_slides
        - t = @testimonial.description.split('</p>')
        - midway = (t.length/2).floor
        - paragraph_tracker = 0
        - t.each do |tp|
          - paragraph_tracker = paragraph_tracker + 1
          -if paragraph_tracker == midway
            - slide_number = @testimonial.testimonial_slides.length
            - if slide_number > 1
              .slider
                - @testimonial.testimonial_slides.each do |slide|
                  .slide
                    %img{:src=> slide.image_url}
                    %p
                      =slide.caption
            - else
              - @testimonial.testimonial_slides.each do |slide|
                .slide-single
                  %img{:src=> slide.image_url}
                  %p
                    =slide.caption
          - tp = tp + '</p>'
          = tp.html_safe
      - else
        = @testimonial.description.html_safe
  .testimonial-sidebar
    %h3{:class=>'works-with-sidebar-title'}
      %a{:href=> works_with_path(@testimonial.works_with.id.to_s)}
        = @testimonial.works_with.title
    %ul{:class=>'distributor-links'}
      - @testimonial.works_with.app.distributor_links.each do |dl|
        %li
          %a{:href=> dl.link }
            = dl.distributor.name
